.App {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: #46b2e0;
  background: #207398;
}

button {
  color: ffffff;
  padding: 5px 25px;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
  width: 300px;
  border-radius: 15px;
  background-color: #e03b8b;
}
